doctype
meta(charset="UTF-8")
title Nico Player
link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="style.css")

#toolbar.fix-pos
  ul
    li.dropdown
      a(href="#", data-toggle="dropdown")#setting_btn.np-btn.dropdown-toggle
        span.glyphicon.glyphicon-cog
      ul.dropdown-menu
        li
          a(href="#")#alwaysOnTop 
            span.glyphicon always Top
    li
      a(href="#").np-btn#close_btn
        span.glyphicon.glyphicon-remove

video#player

// #video-ctl.fix-pos
//   div.ctl-box
//     - var size = 5
//     div.progress(style="height: #{size}px; width: 100%;")
//       div#seeker.seeker(style="width:#{size}px; height: #{size}px; background: #3498db;")
//         div.circle(style="width:#{size}px;height:#{size}px; position: absolute; right: 0%; background:#FFF;")
//       div#progress.progress-bar(style="background: #FFF;opacity: .5;")
//     a(href="#")#play_btn.np-btn
//       span.glyphicon.glyphicon-play
//     //- input#volume-bar(type="range" min="0" max="1" step="0.01" value="1")

#videoControls.fix-pos
  .np-video-controls
    a.np-video-btn.np-video-play#play_btn
    .np-video-seek
      .np-video-seek-bar#seekbar
    .np-video-volume.np-video-volume-small
      .np-video-volume-slider

dialog#login
  form#loginForm
    h3 Request login.
    .input-group
      label Email or Tel
      input#mail_tel(type="text", name="mail_tel").form-control
    .input-group
      label Password
      input#password(type="password", name="password").form-control
    input#doLogin(type="submit", value="Login")

dialog#errorDialog
  p Error Message

- var scripts = ["components/jquery/dist/jquery.min.js", "components/bootstrap/dist/js/bootstrap.js", "nico-session.js", "nico-api.js", "comment-player.js", "core.js"]
for script in scripts
  script(src="#{script}")